@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*######### html element styling ######## */
html{
    /*62.5% = 10px */
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

ul li{
    list-style-type: none;
}

a{
    /*1rem = 10px  */
    font-size: 1.6rem;
    text-decoration: none;
}
p, li{
    font-size: 1.6rem;
    /*em means half of rem 1.6/2 = */
    margin-bottom: 0.5em;
    letter-spacing: o.15em;
}
h1, h2, h3{
    margin-bottom: o.5em;
    letter-spacing: o.15em;
    font-weight: 500;
}

/*############# utility classes ##########
we can make untiliry classess and used one class many time 
*/

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}

.text-red{
    color:#e63946;
}

.text-light{
    color:#f4f4f4;
}
.text-black{
    color:#333;
}
.text-gray{
    color:#555;
}

.bg-dark{
    background: #263238;
}


.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;

}

.btn-primary{
    background-color: white;
    border-radius: 10em;
}

.btn-primary:hover{
    background-color: #ddd;
}
.btn-secondary{
    border: 2px solid #e63946;
    border-radius: 1.5em;
    color: #e63946;
    background: #fff;
}

.btn-secondary:hover{
    background-color: #fcf3f2;
}





/*########## header styling ########## */
header{
    height: 95vh;
    position: relative;
    /* linear-gradient is used for dark img */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1)) , url('../img/header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    padding: 1rem;
}


.navbar a{
    color:white;
}

.navbar .logo{
    float: left;
    font-size: 3.5rem;
}

.navbar .nav-items{
    float: right;
    margin-top: 1rem;
}

.navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
    
}

.navbar a:link,
.navbar a:visited{
    color:#f4f4f4;
}

.navbar a{
    padding-bottom: 0.3rem;
}
.navbar a:hover{
    border-bottom: 1px solid white;
}

/* float clear */
.navbar::after{
    content: '';
    display: block;
    clear: both;
}


/*################ header content styling ############### */

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2));

}

.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}
.header-content p{
    text-transform: uppercase;

}


/*############# Showcase Section Styling ############# */
.showcase{
    background: #ddd;
    padding: 10rem 0;
}

.row{
    height: 350px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.315);
}
.row1{
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
    height: 100%;
}

.row .text-box{
    padding: 3rem;
}
.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    /*object-fit:cover is used for same aspect img ratio */
    object-fit: cover;
}

.row::after{
    content: '';
    clear: both;
}

/*############# Features Section Styling ########### */

.features{
    padding: 10rem 0;
}
.box-wrapper{
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.308);
}
.box{
    width: 33.3333333%;
    float: left;
    padding: 2rem;
    text-align: center;
}

.box-1, .box-3 {
    background-color: #263238;
    color: #fff;

}
.box-2{
    background:  linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #fff;
}

.box-wrapper::after{
   content: "";
   display: block;
   clear: both; 
}

/*############### Footer Styling ########## */

.footer{
    background: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.social-media-links i{
   margin: 2rem; 
}


/*######## About Page Styling ########## */

.about{
    padding: 5rem 0;
}
.about-heading{
    border-bottom: 6px solid #e63946;
}

/* We can Pseudo element for drow line below about us
.about-heading::after{
    content: '';
    display: block;
    border: 3px solid #e63946;
    width: 100%;
}
*/

/*########## About wrapper Styling ########## */
.about-wrapper{
    text-align: center;
    margin-top: 2rem;
}
.about-wrapper .left{
    float: left;
    width: 50%;
}

.about-wrapper .right{
    float: right;
    width: 50%;

}
/*for clear float */
.about-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
/*For tick mark */
.about-wrapper li::before{
    content: '\2714';
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}

/*########## About Count Styling ############## */
.counts{
    margin-top: 3rem;
}

.count-item{
    width: 25%;
    text-align: center;
    float: left;

}
.counts::after{
    content: '';
    display: block;
    clear: both;

}
.count-item span{
    font-size: 3rem;
    font-weight: 700;
    color: #e63946;
}
.count-item p{
    font-weight: 700;
    color: #555;
    font-size: 1.8rem;
}

/*############ About page banner Styling ########## */
.cta-banner{
    background:  linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: #f4f4f4;
    padding: 1rem;
    box-shadow: 5px 5px 10px #00000068;
    margin-top: 3rem;
}
.cta-banner-left{
    width: 60%;
    float:left;
}
.cta-banner-right{
    width: 40%;
    float: right;
    text-align: right;
}

.cta-line{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.btn-cta{
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    border: 4px solid white;
    padding: o.3rem 2.5em;
    letter-spacing: 0.5rem;
    color: #f4f4f4;
}
.cta-banner::after{
    content: '';
    display: block;
    clear: both;
}